<% if defined? post %>
  <% content_for :titulo_pagina do post.titulo+' ' + ( !post.pagina_simple ? '(por '+post.persona.username+')' : '' ) end %>
  <% content_for :titulo_bloque do %><%= post.titulo %><% end %>
  <style>
    .post {
        margin: 0;
        border-bottom: none;
    }
  </style>
  <div class="post">
    <% unless post.pagina_simple %>
      <div class="autor">
      <% if post.fecha_publicado %>
        hace <%= time_ago_in_words(post.fecha_publicado, include_seconds: true) %>,
      <% end %>
      por <%= link_to post.persona.username, perfil_path(post.persona.username), :style => 'font-weight: bold' %></div>
    <% end %>
    <div class="contenido"><%= post.leer_post.html_safe %></div>
    <div class="etiquetas"><% post.etiquetas.each do |etiqueta| %>
        <%= link_to fa_icon('tag')+' '+etiqueta.nombre, etiqueta_path(etiqueta.nombre) %>
    <% end %></div>
    <% unless post.pagina_simple %>
      <div class="pie"><div style="float: left"><!-- <span style="margin-right: 15px;" title="calificación promedio">0 <%= fa_icon('trophy') %></span> -->
        <span style="margin-right: 15px;" title="visitas">0 <%= fa_icon('users') %></span>
        <% if AppConfig.aplicacion.disqus.enable == true %>
          <span style="margin-right: 15px;" title="comentarios"><span class="disqus-comment-count" data-disqus-url="<%= AppConfig.aplicacion.url + post_path(post._id) %>"></span> <%= fa_icon('comments') %></span>
        <% end %>
        </div>
      </div>
    <% end %>
  </div>
  
<% else %>
  <% content_for :titulo_pagina do 'No se ha encontrado la publicación.' end %>
  No se ha encontrado la publicación.
<% end %>