<% content_for :titulo_pagina do %>Inscritos > Ver comprobante: <%= comprobante.nro.to_s.rjust(4,"0") %><% end %>
<% content_for :titulo_bloque do %><%= link_to 'Inscritos', inscritos_path %> > Ver comprobante: <%= comprobante.nro.to_s.rjust(4,"0") %><% end %>

<div style="text-align: center; margin: 10px">
  <%= boton_enlace 'Reenviar comprobante', inscrito_comprobante_path(comprobante.inscripcion._id, comprobante._id), method: :patch %>
</div>
  
<div style="text-align: center"><iframe src="<%=inscrito_comprobante_path(comprobante.inscripcion._id, comprobante._id)%>?ver=1" style= "width:970px;max-width: 100%;height:1260px" frameborder="0" ></iframe></div>